
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

main, header{
    margin-left: 250px;
    margin-right: 250px;
}

@media (max-width: 768px) {
  main, header {
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
  }
}

.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.logo{
    width: 200px;
    font-family: 'Mulish', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}
.logo img{
  height: 50px;
}
.hub{
    color: #FF5400;
}
.miniContainer{
    display: flex;
    justify-content: space-between;
}

nav{
    font-family: 'Mulish', sans-serif;
    width: 300px;
    
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #424247;
    font-size: 1rem;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-menu span {
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  background-color: #000;
  position: absolute;
  right: 10px;
  top: 70px;
}

@media (max-width: 600px) {
  .hamburger-menu {
    display: block;
  }

  .miniContainer {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
  }

  .miniContainer.active {
    display: block;
  }

  .miniContainer li {
    margin: 5px;
  }

}

/*form */

.fromContainer {
    background-image: url('image/Group\ 13\ \(1\)\ \(1\).png');
    background-size: cover;
    background-position: center;
    padding: 50px 50px;
    border-radius: 10px;
    margin-bottom: 40px;
  }
  .formItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .formItem h3, .formItem p{
    color: #fff;
    justify-content: center;
    font-family: 'Mulish', sans-serif;
  }
  .formItem h3{
    font-size: 3rem;
    font-weight: 1000;
  }
  
  .form{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 7px;
    display: flex;
    width: 60%;
    justify-content: space-around;
    border: none;
  }
  .form input{
    border: none;
    width: 20%;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
  }

  .form button{
    border:none;
    border-radius: 5px;
    color: #fff;
    background-color: #FF5400;
  }

  @media (max-width: 600px) {
    .form{
      flex-direction: column;
      align-items: center;
      gap: 10px;
      width: 90%;
    }
    .form input, .form button{
      border: none;
      width: 90%;
      height: 30px;
      padding: 5px;
      border-radius: 5px;
    }

    .form button{
      width: 95%;
    }
  
  }

  /*nav part end*/
  .popularTour{
    display: flex;
    margin-bottom: 100px;
    gap: 20px;
  }

  @media (max-width: 600px) {
    .popularTour{
      display: block;
      margin-bottom: 50px;
      gap: 20px;
    }
  }

.popular{
    position: relative;
    font-family: 'Mulish', sans-serif;
    height: 400px;
}
@media (max-width:600px) {
  .popular{
    height: 500px;
  }
  
}
.popular h1{
    font-size: 2.5rem;
}
.popular button{
    position: absolute;
    bottom: 0px;
    left: 0px;

    border:none;
    border-radius: 5px;
    color: #fff;
    background-color: #FF5400;
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
}

.popularImage{
    position: relative;
}
.video video{
  position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
}
.popularImage img{
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
}
.popular, .popularImage{
    flex: 1; 
}

@media (max-width: 600px) {

  .popular,
  .popularImage {
    flex: 0;
  }

  .popular {
    height: 400px;
    margin-bottom: 20px;
  }

  .popular h1 {
    font-size: 2.5rem;
  }

  .popular button {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .popularImage {
    position: relative;
    height: 400px;
    padding-bottom: 0;
  }
}

/*image college */

.row1{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
  .row1{
    display: block;
  }
  .image-container{
    height: 250px;
    margin-bottom: 20px;
  }
}

.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    flex: 1;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-text {
    font-family: 'Mulish', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    width: 70%;
}

.image-text-video {
  font-family: 'Mulish', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  width: 70%;
  animation: fadeOut 4s forwards;
}
@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

.why-choose-us {
    text-align: center;
}
.whyUsContainer{
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
@media (max-width: 600px) {
  .whyUsContainer{
    flex-direction: column;
    align-items: center;
  }
}

.container {
    margin: 0 auto;
}

.why-choose-us h2 {
    margin-bottom: 20px;
    font-size: 2em;
    font-family: 'Mulish',sans-serif;
}

.why-choose-us p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 40px;
}

.card-container {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 35%;
    background-color: rgba(251, 181, 99, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    text-align: left;
    font-family: 'Mulish', sans-serif;
    height: 200px;
}
.card2{
  background-color: rgba(41, 206, 246, 0.1);
  border-color: rgba(41, 206, 246, 1);
}
.card3{
  background-color: rgba(233, 68, 68, 0.1);
  border-color: rgba(233, 68, 68, 1);
}
@media (max-width: 600px) {
  .card{
    width: 300px;
    height: 250px;
  }
}
.center{
    display: flex;
    justify-content: center;
}

.card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.card h3 {
    font-size: 1em;
    font-weight: 1000;
}

.card p {
    color: #333;
    font-size: .75rem;
}

.OuterImage {
    background-image: url("image/Group\ 39.png");
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    align-items: center;
    color: rgb(0, 0, 0);
    height: 450px;
    margin-bottom: 50px;
  }
@media (max-width: 600px) {
  .OuterImage{
    align-items: center;
    border-radius: 5px;
    position: relative;
    height: 500px;
  }

}
.trans{
    transform: scaleX(-1);
}

.whiteBox{
    position:absolute;
    background-color: rgba(255, 255, 255, 0.7);
    width: 300px;
    border-radius: 10px;
    padding: 30px;
    right: 50px;
    text-align: left;
    height: 300px;
    margin-top: 50px;
  }
@media (max-width: 600px) {
  .whiteBox{
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
  }
  .trans{
    transform: none;
    transform: translate(-50%);
  }
  .OuterImage{
    transform: none;
  }
}
  .OuterImage h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .OuterImage p {
    font-size: 1.2em;
    margin-bottom: 40px;
  }
  
  .OuterImage button {
    background-color: #FF5400;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  .subContainer{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 30px;
  }

  @media (max-width: 600px) {
    .subContainer{
      display: block;
    }
  }

  .subImage{
    position:relative
  }
.subscribe{
  padding-left: 10px;
  padding-right: 10px;
  border: #FF5400 solid;
  font-family: 'Mulish',sans-serif;
  border-radius: 10px;
}
@media (max-width:600px) {
  .subscribe{
    margin-bottom: 20px;
  }
}
.subscribe h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.subscribe p {
  font-size: 16px;
  margin-bottom: 20px;
}

.subForm input[type="text"],
.subForm input[type="email"],
.subForm input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.subForm input[type="submit"]{
  background-color: #FF5400;
}

.subForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subImage img{
    width: 100%;
    height: 100%;
}
.subImageText{
  background-color: #FF5400;
  position: absolute;
  right: 15px;
  bottom: 35px;
  width: 175px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  transform: rotate(-25deg);
  padding: 5px;
}
  
 .footer {
    background-color: #f0f0f0;
    padding: 40px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Mulish', sans-serif;
  }
  .gap{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bottomLogo{
    display: flex;
    justify-content: space-between;
    width: 200px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 10px;
    font-family: 'Mulish', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .bottomLogo img{
    height: 50px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 0 auto;
    width: 450px;
    border-bottom: #333 solid;
  }
  @media (max-width: 600px) {
    .footer-container{
      width: 400px;
    }
  }

  .footer-info{
    border: #000 solid;
    width: 300px;
  }
  
  .footer-contact h3,
  .footer-social h3 {
    margin-bottom: 10px;
    font-family: 'Mulish',sans-serif;
  }
  
  .footer-contact p {
    color: #333;
    line-height: 1.5;
  }
  .footer-social img {
    color: #333;
    margin-right: 10px;
    width: 20px;

  }
  
  .footer-social a:hover {
    color: #000;
  }
  
  .copyright {
    margin-top: 20px;
    padding: 10px 0;
  }
 
  .fab {
    font-family: FontAwesome;
  }
  
  